<div>
  <div class="submit-form mt-4">
    <div *ngIf="!submitted">
      <h4>Add new business entry:</h4>
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="business.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          class="form-control"
          id="address"
          required
          [(ngModel)]="business.address"
          name="address"
        />
      </div>
      <div class="card mt-5 mb-5 mx-auto">
        <div class="" [formGroup]="addForm">
          <div class="form-group">
            <div class="container p-3">
              <div style="text-align: left;">
                <button class="btn btn-info mb-3" (click)="onAddRow()" *ngIf="addForm.get('rows')">Add open hours</button>
              </div>
              <div class="row mt-3 text-muted" *ngFor="let row of addForm.get('rows')?.controls;let index = index;">
                <div class="col-4">
                  Day :
                  <select class="form-select form-control" [formControl]="row.get('dayOfWeek')" style="width:auto;">
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                  </select>
                </div>
                <div class="col-2">
                  From : <input class="form-control" [formControl]="row.get('openingHour')" type="time">
                </div>
                <div class="col-2">
                  To : <input class="form-control" [formControl]="row.get('closingHour')" type="time">
                </div>
                <div class="col-2">
                  Type :
                  <select class="form-select form-control" [formControl]="row.get('type')" style="width:auto;">
                    <option value="OPEN">Open</option>
                    <option value="CLOSED">Closed</option>
                  </select>
                </div>
                <div class="col-2 align-self-end">
                  <button class="btn btn-danger " (click)="onRemoveRow(index)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative start-50 mb-5">
        <button (click)="saveBusiness()" class="btn btn-success">Submit</button>
      </div>
    </div>
    <div *ngIf="submitted">
      <h4>Business was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newBusiness()">Add new entry</button>
    </div>
  </div>
</div>
