<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Business catalog</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="business-list" class="nav-link">Businesses</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-business" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
