<div>
  <div *ngIf="currentBusiness.id" class="edit-form">
    <h4>Business</h4>
    <form>
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentBusiness.name"
          name="title"
        />
      </div>
      <div class="form-group mb-4">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          [(ngModel)]="currentBusiness.address"
          name="description"
        />
      </div>
    </form>
    <div class="container">
      <div class="row">
        <div class="col align-self-start">
          <button class="btn btn-danger" (click)="deleteBusiness()">
            Delete
          </button>
        </div>
        <div class="col align-self-center">
        </div>
        <div class="col align-self-end">
          <button type="submit" class="btn btn-success" (click)="updateBusiness()">
            Update
          </button>
        </div>
      </div>
    </div>

    <p class="mt-3 text-success">{{ message }}</p>
  </div>

  <div *ngIf="!currentBusiness.id">
    <br/>
    <p>Cannot access this Business...</p>
  </div>
</div>
