<div class="list row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by business name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4>Business entries:</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let business of businesses; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBusiness(business, i)"
      >
        {{ business.name }}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBusiness()">
      Remove All
    </button>
  </div>
  <div class="col-md-8">
    <div *ngIf="currentBusiness.id" class="card p-3">
      <div>
        <label><strong>Name:</strong></label> {{ currentBusiness.name }}
      </div>
      <div>
        <label><strong>Address:</strong></label>
        {{ currentBusiness.address }}
      </div>
      <div>
        <div class="container m-3">
          <div class="row align-items-start m-3" *ngFor="let day of currentBusiness.openingDays;">
            <div class="col-md-4 text-primary">
              <small class="text-lowercase fs-6">{{ day.dayOfWeek }}</small>
            </div>
            <div class="col-md-8">
              <div *ngFor="let openingTimes of day.openingTimes">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 text-nowrap">{{openingTimes.openingHour}} - {{openingTimes.closingHour}}</div>
                    <div class="col-md-6">
                      <span
                        [ngClass]="['badge', 'rounded-pill', 'text-lowercase', openingTimes.type === 'OPEN' ? 'bg-success' : 'bg-secondary']">
                        {{openingTimes.type}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-warning" routerLink="/business/{{ currentBusiness.id }}">
        Edit
      </a>
    </div>
    <div *ngIf="!currentBusiness">
      <br/>
      <p>Please click on a business...</p>
    </div>
  </div>
</div>
